table, tr, td {
    border: 6px solid rgb(223, 223, 223);
    border-collapse: collapse;
    border-style:ridge;
    margin: 50px 50px;
        
}

main {
    text-align: center;
}

section{
    display: inline-block;
}

td {
    height: 0px;
    width: 30px;
}

header{
    text-align: center;
    margin-top: 30PX;
}

.quadrado {
    width: 300px;
    height: 300px;
    border-style: groove ;
}

.btn {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    padding: 15px;
    margin-inline-start: 15px;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    background-color:#a448fa;
}

.btn:hover {
    background-color:#6417ac;
}

a {
    text-decoration: none;
    color: #fcfcfc;
}